.nav {
  position: relative;
  clear: both;
  box-shadow: 0px 3px 2px -1px #555555;
  border-bottom: 1px solid black;
}
.nav_img {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

.menu {
  padding-left: 35px;
  margin-top: -2px;
  border-top: 1px solid #cacbcb;
  font-size: 0;
  background: linear-gradient(to top, #313131, #363636);
}
.menu_item {
  display: inline-block;
  font-size: 14px;
  line-height: 29px;
  position: relative;
}
.menu_item:hover .menu_sub {
  display: block;
  background-color: #303030;
}
.menu_link {
  display: block;
  margin-left: 30px;
  margin-right: 35px;
  color: #fff;
}
.menu_sub {
  display: none;
  width: 150px;
  position: absolute;
  top: 29px;
  left: 20px;
  padding: 5px 0 5px 9px;
  box-shadow: 0px 3px 6px 1px #555555;
  border-top: 1px solid black;
}
.menu_sub__item {
  line-height: 24px;
}
.menu_sub__link {
  display: block;
  color: #fff;
}
.menu__arrow::after {
  content: '';
  position: absolute;
  top: 45%;
  right: 20px;
  border: 4px solid transparent;
  border-top-color: #fff;
}

.fon {
  width: 1000px;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.leftColumn {
  width: 21%;
  float: left;
  background: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.aside {
  line-height: 25px;
}
.aside_info {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.aside_infotext {
  padding-left: 15px;
  font-size: 14px;
}

.centerColumn {
  width: 58%;
  float: left;
  background: #fff;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.rightColumn {
  width: 21%;
  float: right;
  background: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.section {
  line-height: 25px;
}
.section_news {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.section_infonews {
  padding-left: 15px;
  font-size: 14px;
}

.footer {
  margin: 10px 0;
}
.footer_info {
  display: block;
  clear: both;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
